* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.507) 0%,
      rgba(238, 238, 238, 0.192) 100%
    ),
    url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2vh;
  margin-top: 1vh;
  text-decoration: none;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 20%;
    transform: translate(-5%, 50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: skyblue;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: none;
  }
}
.nav-links a:hover {
  background: rgba(180, 146, 146, 0.5);
  color: black;
}
.grid-container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  height: 100vh;
}
.left-side-container {
  display: grid;
  grid-template-rows: 200px 100px 200px 100px;
  grid-template-columns: 20vh 20vh 20vh 20vh;
  gap: 5vh;
  padding: 1vh;
  margin-top: 5vh;
  margin-left: 2vh;
}
.left-side-container img {
  height: 85%;
  width: 85%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 0.5s ease-in-out;
}
.item1 {
  grid-column: 3/4;
  grid-row: 1/4;
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-end: auto;
  min-height: 150px;
  margin-top: 5vw;
}
#vanillaicecreamimg {
  width: 15vw;
}
.item2 {
  grid-column: 3/4;
  grid-row: 1/4;
  grid-column-end: auto;
  grid-row-end: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  margin-top: 5vw;
}
#chocholateimg {
  width: 15vw;
}
.item3 {
  grid-column: 2/4;
  grid-row: 2/4;
  grid-column-end: auto;
  grid-row-end: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 390px;
  margin-top: 5vw;
}
#strawberryimg {
  width: 15vw;
}
.right-side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1fr;
  height: 75vh;
  background: rgb(131, 85, 112);
  grid-column: 3/3;
  grid-row: 1/1;
  border-radius: 5vh;
  margin-top: 2vh;
}
